---
import { Icon } from '@astrojs/starlight/components';

interface Props {
    name: any;
    url: string;
}

const {url, name} = Astro.props;
---

<a href={url}><Icon name={name} size="1.5rem" /></a>
